
<div class="container-fluid" id="main">

	<!-- <div class="navbar navbar-fixed-top">
				< !--Jumbotron container -->
				<div class="jumbotron">
					<div class="container text-center text-white">
							<h1>Indian Cricket</h1>
							<p>This site is about </p>
					</div>
			</div>
	</div>
	
	<!-- end navbar --> 
	
	<div class="row mb-4" id="section1">

		<div class = "col-sm-4 text-center" id="box1">

						<img src="../../assets/img/dhoni.jpg" class="img-fluid w-100" alt = "Why Choose us"/>
          	<h3 class="mt-3">MS Dhoni</h3>
						<p> Mahendra Singh Dhoni commonly known as MS Dhoni; born July 7, 1981) is an Indian international  cricketer who captained the Indian national team in limited-overs formats from 2007 to 2016 and in Test cricket from 2008 to 2014</p>

		</div>

		<div class = "col-sm-4" id="box2">
				<img src="../../assets/img/kohli.jpg" class="img-fluid w-100" alt = "Why Choose us"/>
				<h3 class="mt-3">Virat Kohli</h3>
	      <p> Virat Kohli is an Indian international cricketer who currently captains the India national team. A right-handed top-order batsman, Kohli is regarded as one of the best batsmen in the world.He is currently captain of Indian Cricket Team. </p>

		</div>

		<div class = "col-sm-4" id="box3">
				<img src="../../assets/img/sachin.jpg" class="img-fluid w-100" alt="Why Choose us"/>
				<h3 class="mt-3">Sachin Tendulkar</h3>
	       <p> Sachin Ramesh Tendulkar is a former Indian international cricketer and a former captain of the Indian national team, regarded as one of the greatest batsman of all time. He is the highest run scorer of all time in International cricket.</p>
		</div>

  </div><!-- end row of section 1-->
  

  	<!--Start of section 2 -->
	
	<div class="row di-column" id="section2">
		    
    <div class = "col-sm-6">
        <img src="../../assets/img/bcci.jpeg" class="img-fluid w-100 rounded h-100" alt="Why Choose us"/>
    </div>

    <div class = "col-sm-6">
        <div class="row bg-primary text-white mb-4 rounded h-30" id="r1">
            <p class="w-100 text-center">The 1983 Cricket World Cup (officially the Prudential Cup '83) was the 3rd edition of the Cricket World Cup tournament. It was held from 9 June to 25 June 1983 in England and Wales and was won by India. Eight countries participated in the event </p> 
        </div>
          
        <div class="row bg-primary text-white mb-4 rounded h-30" id="r2">
            <p class="w-100 text-center"> The 2011 ICC Cricket World Cup (officially known as ICC Cricket World Cup 2011) was the tenth Cricket World Cup. It was played in India, Sri Lanka, and (for the first time) Bangladesh. India won the tournament, defeating Sri Lanka by 6 wickets in the final at Wankhede Stadium in Mumbai</p>
        </div>

        <div class="row bg-primary text-white rounded h-30" id="r3">
            <p class="w-100 text-center"> The 2007 ICC World Twenty20 was the inaugural Twenty20 International cricket world championship, contested in South Africa from 11 to 24 September 2007. Twelve teams took part in the thirteen-day tournament—the ten Test-playing nations and the finalists of the 2007 WCL Division One tournament: Kenya and Scotland. India won the tournament, beating Pakistan in the final </p>
        </div>
    </div>
  

</div><!-- end row of section 2-->

	<!-- Footer -->
<footer class="page-footer font-small indigo bg-primary text-white mt-3 mx-2 rounded">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
   
    <!-- Grid row-->
    <hr class="rgba-white-light" style="margin: 0 15%;">

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

      <!-- Grid column -->
      <div class="col-md-8 col-12">
    <h3 class="mt-3">About BCCI</h3>
        <p style="line-height: 1.7rem">The Board of Control for Cricket in India (BCCI) is the national governing body for cricket in India.The board was formed in December 1928 as a society, registered under the Tamil Nadu Societies Registration Act. It is a consortium of state cricket associations and the state associations select their representatives who in turn elect the BCCI Chief. It's headquarters are in Wankhede Stadium , Mumbai. C.K. Khanna is acting as the current president. </p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

    <!-- Grid row-->
    <div class="row pb-2">

      <!-- Grid column -->
      <div class="col-md-12">

        <div class="flex-center text-center">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g fa-lg white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
            <i class="fab fa-pinterest fa-lg white-text"> </i>
          </a>

        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->